footer {
  height: 259px;
  width: 300px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.snsAndportfolio-box {
  width: 238px;
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialMeia-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 44px;
}

.portfolio-box {
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.qrpic {
  width: 95px;
  height: 95px;
}

.contact-box {
  width: 384px;
  height: 88px;
  margin-bottom: 18px;
}

.contact-box p {
  margin: 0;
}

.portfoliotext-box {
  width: 111px;
  height: 46px;
}

.icon {
  width: 43px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 286px;
    width: auto;
    flex-direction: row-reverse;
  }
  .contact-box {
    width: 659px;
    height: 186px;
  }
  .snsAndportfolio-box {
    width: 368px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .socialMeia-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
  }

  .portfolio-box {
    height: 166px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icon {
    width: 65px;
  }

  .qrpic {
    width: auto;
    height: auto;
  }
  .portfoliotext-box {
    width: 170px;
    height: 63px;
  }
}
