.form-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid black;
  width: 300px;
  gap: 20px;
  margin: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-input,
.password-input {
  box-sizing: border-box;
  width: 100%;
}
