.tag-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: auto;
  height: 18px;
}

.tag {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .tag-box {
    width: auto;
    height: 30px;
  }
}
