.content-table {
  border-collapse: collapse;
  margin: 14px 0px;
  border-bottom: 1px #263680;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #263680;
}

.content-table th {
  padding: 10px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .content-table tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
} */

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #263680;
}

.admin-button {
  font-size: 14px;
  font-weight: bold;
  width: auto;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #263680;
  border: 1px solid #263680;
  background-color: white;
  transition: all 0.3s;
}

.admin-button:hover {
  cursor: pointer;
  color: white;
  background-color: #263680;
}
