/* @import "tailwindcss"; */

.create {
  height: auto;
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  transition: all 0.2s;
  display: inline-block;
  align-self: flex-start;
  width: 60%;
  margin: auto;
}

.back-button:hover {
  cursor: pointer;
}

.arrow {
  width: 17px;
  display: inline;
  font-size: 13px;
  padding-right: 3px;
  color: #263680;
  transition: all 0.2s;
}

.backbutton:hover .arrow {
  transform: translateX(-1px);
  font-weight: 700;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.description-form textarea {
  resize: none;
}

.category-form {
  width: auto;
}

.category-form select {
  width: 200px;
  padding: 5px 10px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  padding: 5px 10px;
  width: 200px;
}

form textarea {
  width: 200px;
  height: 150px;
  padding: 5px 10px;
}

.mainImg-drop-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mainImg-drop-box label {
  align-self: start;
}

.mainImg-drop-box input[type="file"] {
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.mainImg-drop-box input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 14px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 10px;
  cursor: pointer;
}

.subImg-drop-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.uploader {
  width: auto;
  border: 1px dotted #263068;
  margin-top: 10px;
  text-align: center;
  width: 200px;
}

.uploader label {
  padding: 20px;
  margin: 0;
}

.uploader :hover {
  cursor: pointer;
}

.subImg-drop-box p {
  height: auto;
  margin: 0;
  font-size: 14px;
}

.dropped-img {
  width: 150px;
}
