.create {
  height: auto;
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.description-form textarea {
  resize: none;
}

.category-form {
  width: auto;
}

.category-form select {
  width: 200px;
  padding: 5px 10px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  padding: 5px 10px;
  width: 200px;
}

form textarea {
  width: 200px;
  height: 150px;
  padding: 5px 10px;
}

.file-drop-box {
  width: auto;
  border: 1px dotted #263068;
  margin-top: 10px;
  text-align: center;
  width: 200px;
}
.file-drop-box label {
  padding: 20px;
  margin: 0;
}

.file-drop-box :hover {
  cursor: pointer;
}

.file-drop-box p {
  height: auto;
  margin: 0;
  font-size: 14px;
}
