.delete {
  margin: auto;
  width: 400px;
}

.delete .back-button {
  transition: all 0.2s;
  display: inline-block;
  align-self: flex-start;
  width: 300px;
  margin: auto;
}

.delete .back-button:hover {
  cursor: pointer;
}

.delete .arrow {
  width: 17px;
  display: inline;
  font-size: 13px;
  padding-right: 3px;
  color: #263680;
  transition: all 0.2s;
}

.delete .backbutton:hover .arrow {
  transform: translateX(-1px);
  font-weight: 700;
}

.card {
  box-sizing: border-box;
  border-top: 3px solid #263680;
  border-bottom: 3px solid #263680;
  width: 300px;
  padding: 10px;
  margin: auto;
}

.card p {
  margin: 0;
}

.card .id-box,
.name-box,
.category-box,
.description-box {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

.confirmation-text {
  width: 290px;
  margin: 10px auto;
}

.description-box div {
  padding: 8px;
  overflow-wrap: break-word;
}

.card .mainImg {
  padding: 20px;
}
.card .mainImg img {
  width: 100%;
}

.margin {
  margin: auto;
}
