.card {
  border-top: 3px solid #263680;
  border-bottom: 3px solid #263680;
  width: 250px;
  padding: 10px;
}

.card p {
  margin: 0;
}

.card .id-box,
.name-box,
.category-box,
.description-box {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

/* .description-box p {
  margin: 0;
} */

.description-box div {
  padding: 8px;
  overflow-wrap: break-word;
}

.mainImg {
  padding: 20px;
}
.mainImg img {
  width: 100%;
}
