.edit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.back-button {
  transition: all 0.2s;
  align-self: flex-start;
  width: 220px;
  margin: auto;
}

.back-button:hover {
  cursor: pointer;
}

.arrow {
  width: 17px;
  display: inline;
  font-size: 13px;
  padding-right: 3px;
  color: #263680;
  transition: all 0.2s;
}

.back-button:hover .arrow {
  transform: translateX(-1px);
  font-weight: 700;
}

.edit-container {
  width: 384px;
  margin: auto;
}
.edit-container form {
  width: 220px;
  margin: auto;
}

.edit-container form label {
  display: block;
  margin-top: 10px;
}

.edit-container form input,
.edit-container form textarea {
  box-sizing: border-box;
  padding: 5px 10px;
  resize: none;
  width: 220px;
}

.product-name,
.description,
.category,
.mainimg {
  margin-bottom: 20px;
}

.category select {
  box-sizing: border-box;
  width: 220px;
  padding: 5px 10px;
}

.mainimg input[type="file"],
.sub-imgs input[type="file"] {
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.mainimg input[type="file"]::file-selector-button,
.sub-imgs input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 14px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 10px;
  cursor: pointer;
}

.mainimg {
  width: 100%;
}

.mainimg img {
  width: 200px;
  padding: 10px;
}

.sub-imgs img {
  width: 200px;
  padding: 10px;
}

.margin {
  margin: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .edit-container {
    width: 500px;
  }
}
