.edit-container {
  width: 384px;
  margin: auto;
}
.edit-container form {
  width: 220px;
  margin: auto;
}

.edit-container form label {
  display: block;
  margin-top: 10px;
}

.edit-container form input,
.edit-container form textarea {
  box-sizing: border-box;
  padding: 5px 10px;
  resize: none;
  width: 220px;
}

.mainimg {
  width: 100%;
}

.mainimg img {
  width: 200px;
  padding: 10px;
}

.sub-imgs img {
  width: 200px;
  padding: 10px;
}
