.edit-container {
  width: 250px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  padding: 5px 10px;
}

.mainimg {
  width: 100%;
}

.mainimg img {
  width: 200px;
  padding: 10px;
}

.sub-imgs img {
  width: 200px;
  padding: 10px;
}
