.header-container {
  height: 162px;
  width: 377px;
  position: relative;
  margin-bottom: 20px;
}

.navigation {
  position: absolute;
  width: 191px;
  height: 18px;
  top: 144px;
  /* left: 779px; */
  /* border: 1px solid blue; */
}

.language-box {
  /* border: 1px solid blue; */
  height: 73px;
  width: 32px;
  position: absolute;
  top: 0;
  left: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.english-btn,
.japanese-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border: 1px solid #263068;
  background-color: white;
  transition: all 0.3s;
}

.english-btn:hover,
.japanese-btn:hover {
  color: white;
  background-color: #263068;
  cursor: pointer;
}

.active {
  background-color: #263068;
  color: white;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 215px;
    width: 1155px;
    position: relative;
  }

  .navigation {
    position: absolute;
    width: 297px;
    height: 30px;
    top: 10px;
    left: 779px;
    border: 1px solid blue;
  }

  .language-box {
    border: 1px solid blue;
    height: 115px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 1106px;
  }
}
