.label {
  color: #263068;
  font-family: "Wix Madefor Display", serif, sans-serif;
}

.white {
  color: white !important;
}

.bold {
  font-weight: 700;
}

.hover {
  transition: all 0.1s;
}

.hover:hover {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.label_s {
  font-size: 14px;
}
.label_m {
  font-size: 17px;
}
.label_l {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .label_s {
    font-size: 20px;
  }
  .label_m {
    font-size: 28px;
  }
  .label_l {
    font-size: 38px;
  }
}
