.product-box {
  width: 381px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  margin-bottom: 32px;
  row-gap: 16px;
}

.main-img {
  width: 181px;
  border-radius: 4px;
  transition: all 0.3s;
}

.product-link {
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.product-link:hover {
  cursor: pointer;
}

.main-img:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .product-box {
    width: 1156px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
  }

  .main-img {
    width: 363px;
  }
}
